gitlab.env.yml
.terraform
test/data/sso
test/data/sso/**
**/*:Zone.Identifier
**/*.hcl
**/*.tfstate
tfplan
*.tfstate.backup
states
*.kdbx
**/conf.tfvars
project/orchestrator
project/orchestrator/**
**/*.log
**/*.html
**/*.xml
**/__pycache__/**